body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.ContainerCol1090 {
  display: grid;
  grid-template-columns: 10% 90%;
}
.ContainerCol2 {
  display: grid;
  grid-template-columns: 25% 75%;
}
.ContainerCol4060 {
  display: grid;
  grid-template-columns: 40% 60%;
}

.Box {
  border: 1px solid black;
  box-shadow: 5px 10px #ddd;
  margin: 10px;
  padding: 5px;
}

.margin15 {
  margin: 15px;
}

.textAlignLeft {
  text-align: left;
}
