.Container {
  margin: 16px;
  text-align: left;
}

.ContainerCol303040 {
  display: grid;
  grid-template-columns: 30% 30% 40%;
}
.Box {
  border: 1px solid black;
  box-shadow: 5px 10px #ddd;
  margin: 10px;
  padding: 5px;
}
@media(max-width: 840px) {
  .ContainerCol303040 {
  grid-template-columns: 100%;
  }
}